<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#875A7B;margin-top:5px;margin-bottom:5px;">Culqi</h2>
            <h3 class="oe_slogan" style="margin-top:5px;margin-bottom:5px;">Para Sitio Web de Comercio Electr&oacute;nico</h3>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">

            <div class="alert alert-info oe_mt32" style="padding:0.3em 0.6em; font-size: 150%;">
                <i class="fa fa-hand-o-right"></i><b> Caracter&iacute;sticas para este m&eacute;todo de pago: </b>
                <br>
                <ul class="list-unstyled">
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i> Detalles de la transacci&oacute;n en el pedido
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i> Diario para estado de cuenta y extractos
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i> Sincronización automatica para pagos pendientes a acreditados
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i> Configurador del m&eacute;todo de pago
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i> Modo Prueba / Producci&oacute;n
                    </li>
                    <li>
                        <i class="fa fa-check-square-o text-primary"></i> Selecci&oacute;n divisa autom&aacute;tica de la tienda
                    </li>
                </ul>
            </div>
            <div>
                <center style="display: inline-table;width: 100%;">
                    <h1 style="display: table-cell;padding: 29px;"><a href="#"><i class="fa fa-youtube text-primary" style="color:red!important;font-size: 85px"></i><br>Vista Previa</a></h1>
                    <h1 style="display: table-cell;padding: 29px;"><a href="https://api.whatsapp.com/send?phone=573128097090&text=OdooCulqi"><i class="fa fa-whatsapp text-primary" style="color: green!important;font-size: 85px;"></i><br>Hola!</a></h1>
                </center>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row ">
        <div class="oe_span12">

            <div class="alert alert-success oe_mt32" style="padding: 0.3em 0.6em; font-size: 150%; opacity: 0.7; text-align: center;">
                <br>
                <i class="fa fa-life-ring" style="font-size: 62px; color: orange;"></i>
                <br> Soporte hasta que este en modo producci&oacute;n
            </div>

        </div>
    </div>
</section>
